@page
@model Gruppe1_Nettside.Pages.Mathias.KirbyEasterEgg

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Kirby easter egg</title>
    <style>
        body{
            background-color: lightpink;
        }
    </style>
</head>
<body>
<h1 style="color: hotpink">Kirby easter Egg!!!!!</h1>
<div>
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    <img src="~/lib/Bilder/download.gif">
    
    
    
    
</div>
</body>
</html>