@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css"  asp-append-version="true"/>

<div class="text-center">
    <div>
        <h1 class="display-4">Gruppe 1</h1>
    </div>
</div>
<div class="gruppemedlem-flex">
    <div>
        <h2>Om oss</h2>
    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Mathias</h3>
        </div>
        <div class="bilde-flex-item">
            <img class="gruppemedlem-bilde" src="lib/Bilder/Mathias.jpeg">
        </div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Mathias</p>
            <p> Leder i gruppen, Høy iq, Crazy IT egenskaper og Stor penis;)</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Dennis</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Dennis</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Aron</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Aron</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Elias</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Elias</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Fredrik</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Fredrik</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
</div>
