@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css"  asp-append-version="true"/>

<div class="text-center">
    <div>
        <h1 class="display-4">Gruppe 1</h1>
    </div>
</div>
<div class="gruppemedlem-flex">
    <div>
        <h2>Om oss</h2>
    </div>
    <div class="gruppemedlemer-alle mathias-flex">
        <div class="flex-prosjekter">
            <div class="container">
                <div class="box-card">
                    <div class="face front">Mathias</div>
                    <div class="face back">Lærevillig</div>
                    <div class="face right">Programmering</div>
                    <div class="face left">Databaser</div>
                    <div class="face top">Løsningsorientert</div>
                    <div class="face bottom">Samarbeidsvillig</div>
                </div>
            </div>
            <div>
                <h3>Mine prosjekter</h3>
                <ul>
                    <li>
                        <a href="https://github.com/JonAarebakk/Gruppe6_kartverket">Nettside løsning for kartverket</a>
                    </li>
                    <li>Andre ting</li>
                </ul>
            </div>
        </div>
        
        <div class="frame">
            <img class="gruppemedlem-bilde" src="lib/Bilder/Mathias.jpeg" alt="Neon Border">
        </div>


        <div class="gruppemedlem-info">
            <b class="gruppemedlem-om-tittel">Om Mathias</b>
            <p class="gruppemedlem-info-tekst"> Bla bla bla bla bla bla bla bla Bla bla bla bla bla bla bla bla Bla bla bla bla bla bla bla bla</p>
        </div>
        <div class="gif-flex">
            <a asp-page="/Mathias/KirbyEasterEgg">
                <img class="morro-gif" src="lib/Bilder/download.gif">
            </a>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Dennis</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Dennis</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Aron</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Aron</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Elias</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Elias</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
    <div class="gruppemedlemer-alle">
        <div class="gruppemedlem-navn">
            <h3> Fredrik</h3>
        </div>
        <div class="gruppemedlem-bilde"></div>
        <div class="gruppemedlem-info">
            <p class="gruppemedlem-om-tittel">Om Fredrik</p>
            <p> BLA BLA BLA BLA</p>
        </div>

    </div>
</div>
